.main-body{
  background-color: #F6C6EA;
  position: relative;
}
.qr-image{
   max-width: 80%;
    border-radius: 16px;
    margin: 5px;
}
.QR-whole{
  background-color: #F9F9F9;
   border-radius: 16px;
   display: inline-block;
     height: 500px;
  position: absolute;
  width:25%;
  margin:  auto 30% auto 35%;
   margin-top: 150px;
   padding: 15px;
    text-align: center;


}
.QR-inside{
  position: absolute;
    text-align: center;
}
p{
  font-size: 15px;
  display: inline-block;

}
